.mainSection {
    width: 90%;
    margin: 0 auto;
}


.mainSectionContent {
    display: flex;
    justify-content: center;
    padding: 60px;
}

.typeContainer {
    padding: 30px;

}

.mainArticle {
    flex: 1;
    padding: 50px;
    box-shadow: 3px 3px 10px 0 rgb(0 0 0 / 12%);

}

.mainAdoptArticle {
    background-color: #fffb00;
    border-radius: 10px 0 0 10px;

}


.mainBuyArticle {
    background-color: #00ffff;
    border-radius: 0 10px 10px 0;
}

/* ADOPT-BUY Section */

.adoptBuySectionContainer {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 30%;
    align-items: flex-start;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.42);
}

.adoptSectionContainer {
    background-image: url('../../assets/images/adopt.jpg');
}

.buySectionContainer {
    background-image: url('../../assets/images/buy.jpg');
}

.adoptBuySectionContainer h1 {
    font-size: 60px;
    padding-left: 100px;
}

.adoptBuySectionContainer p {
    background-color: #ffffff67;
    padding: 20px 100px;
    color: #000000;
    font-size: 23px;
}

.adoptBuyCatalogContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 100px;
}


/* TODO: styles does not apply */
.carousel-inner {
    width: 400px;
    margin: 20px auto;
}

/* Search */

.searchContainer {
    padding-top: 40px;
}

.searchContainer input {
    outline: none;
    background-color: #ffffff89;
    padding: 8px;
    border: none;
    border-bottom: 2px solid;
    width: 300px;
    font-size: 20px;
}

.resultsContainer {
    margin-top: 30px;
}

/* RESPONSIVE */

@media screen and (max-width: 375px) {
    .mainSectionContent {
        flex-direction: column;
    }

    .adoptBuySectionContainer {
        align-items: center;
    }

    .adoptBuySectionContainer h1 {
        font-size: 37px;
        padding: 0;
    }
}