.main-section {
    width: 90%;
    margin: 0 auto;
}


.main-section-content {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.main-article {
    flex: 1;
    padding: 50px;
    box-shadow: 3px 3px 10px 0 rgb(0 0 0 / 12%);

}

.main-adopt-article {
    background-color: #fffb00;
    border-radius: 10px 0 0 10px;

}


.main-buy-article {
    background-color: #00ffff;
    border-radius: 0 10px 10px 0;
}

/* ADOPT-BUY Section */

.adopt-buy-section-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.adopt-buy-catalog-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
}