.login-register-container {
    width: 30%;
    margin: 0 auto;
    padding: 100px;

}

.login-register-main-content {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

}

.login-register-username-nav {
    border: none;
    /* border-top: 2px solid #5ecf7a; */
    background-color: #ffffffa6;
    padding: 10px;

    display: flex;
    justify-content: space-evenly;
}

.login-register-username-nav a {
    text-decoration: none;
    color: #000000;
}

.login-register-username-nav a.active {
    font-weight: bold;
}

.login-register-content {
    border: none;
    border-top: 2px solid #5ecf7a;
    background-color: #ffffffa6;
    padding: 50px;
    margin: 0 auto;
}

.login-register-content div {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.login-register-form {
    display: flex;
    flex-direction: column;
}

.login-register-form input {
    border: none;
    padding: 10px;
    background-color: #7a7a7a1c;
    width: 100%;
    outline: none;
}

.login-register-form div :nth-child(1):not(.submit-btn) {
    padding: 14px;
    background-color: #0000001c;
}

.login-register-form div .submit-btn {
    padding: 13px;
    background-color: #5ecf7a;
    width: 100%;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.5px;
}