.loginRegisterContainer {
    width: 40%;
    margin: 0 auto;
    padding: 100px;

}

.loginRegisterMainContent {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

}

.loginRegisterUserNav {
    border: none;
    /* border-top: 2px solid #5ecf7a; */
    background-color: #6dc561a6;
    padding: 10px;

    display: flex;
    justify-content: space-evenly;
}


.loginRegisterUserNav a {
    text-decoration: none;
    color: #000000;
    width: 100%;
}

/* TODO: Active style does not apply */

.loginRegisterUserNav a.active {
    font-weight: bold;
}

.loginRegisterContent {
    border: none;
    border-top: 2px solid #5ecf7a;
    background-color: #ffffffa6;
    padding: 50px;
    margin: 0 auto;
}

.loginRegisterContent div {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.loginRegisterForm {
    display: flex;
    flex-direction: column;
}

.loginRegisterForm input {
    border: none;
    padding: 10px;
    background-color: #7a7a7a1c;
    width: 100%;
    outline: none;
}

.loginRegisterForm div :nth-child(1):not(.submit-btn) {
    padding: 14px;
    background-color: #0000001c;
}

.loginRegisterForm div .submit-btn {
    padding: 13px;
    background-color: #5ecf7a;
    width: 100%;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.5px;
}