.dogDetailsContainer {
    display: flex;
    justify-content: center;
    padding: 50px 200px;
    background-color: #ffffff5f;

}

.imageWrapperDogDetails {
    width: 800px;
}

.imageWrapperDogDetails img {
    width: 100%;
}

.dogDetailsText {
    margin-left: 20px;
    text-align: left;
}

.detailsContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    padding: 20px;
}

/* COMMENTS */

.commentsContainer {
    border: 1px solid;
    border-radius: 10px;
    margin: 30px;
    padding: 30px;
    background-color: #ffffff;
}

.commentsForm {
    display: flex;
    justify-content: center;
}

.commentsForm textarea {
    border-radius: 10px;
    outline: none;
    width: 100%;
}

.emailComment {
    margin-right: 10px;
    font-weight: bold;
}

.commentsContent {
    margin: 20px 0 50px 0;
}

.commentsContent h2 {
    text-align: left;
    margin-bottom: 30px;
}

.noComments {
    font-size: 24px;
}

/* RESPONSIVE */

@media screen and (max-width: 375px) {
    .dogDetailsContainer {
        display: block;
    }

    .commentsForm {
        display: block;
    }

    .commentsContent h2 {
        text-align: center;
    }

}