.dog-details-container {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.image-wrapper-dog-details {
    width: 400px;
}

.image-wrapper-dog-details img {
    width: 100%;
}

.dog-details-text {
    margin-left: 20px;
    text-align: left;
}

/* COMMENTS */

.comments-container {
    border: 1px solid;
    border-radius: 10px;
    margin: 30px;
    padding: 30px;
    background-color: #ffffff;
}

.comments-form {
    display: flex;
    justify-content: center;
}

.comments-form textarea {
    border-radius: 10px;
    outline: none;
    width: 100%;
}

.email-comment {
    margin-right: 10px;
    font-weight: bold;
}