.dog-details-container {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.image-wrapper-dog-details {
    width: 400px;
}

.image-wrapper-dog-details img {
    width: 100%;
}

.dog-details-text {
    margin-left: 20px;
    text-align: left;
}

.details-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

/* COMMENTS */

.comments-container {
    border: 1px solid;
    border-radius: 10px;
    margin: 30px;
    padding: 30px;
    background-color: #ffffff;
}

.comments-form {
    display: flex;
    justify-content: center;
}

.comments-form textarea {
    border-radius: 10px;
    outline: none;
    width: 100%;
}

.email-comment {
    margin-right: 10px;
    font-weight: bold;
}

.comments-content {
    margin: 20px 0 50px 0;
}

.comments-content h2 {
    text-align: left;
    margin-bottom: 30px;
}

.no-comments {
    font-size: 24px;
}