.dogContentContainer {
    background-color: rgba(255, 255, 255, 0.721);
    padding: 100px 200px;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.dogContent {
    background-color: rgb(234, 254, 125);
    border-radius: 20px;
    padding: 50px;
}

.imageWrapperDogMain {
    width: 400px;
    margin: 0 auto;
}

.imageWrapperDogMain img {
    width: 100%;
}

.btn-level-two.close {
    background-color: darkgrey;
}

.close:hover {
    color: #ffffff;
    background-color: #686868;
}

/* RESPONSIVE */

@media screen and (max-width: 375px) {
    .dogContentContainer {
        padding: 100px 20px;
    }
}