.softuniImageWrapper {
    width: 100px;
    margin: 20px auto;
}

.softuniImageWrapper img {
    width: 100%;
}

.aboutText {
    margin: 30px auto 0 auto;
    padding-bottom: 50px;
}

.aboutText ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}