.softuni-image-wrapper {
    width: 100px;
    margin: 20px auto;
}

.softuni-image-wrapper img {
    width: 100%;
}

.about-text {
    margin: 30px auto 0 auto;
    padding-bottom: 50px;
}

.about-text ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}