.dogContainer {
    width: 200px;
    padding: 20px;
    margin: 20px;
    background-color: #aeff009a;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


.dogContainer:hover {
    background-color: #fffb00;
}

/* .itemDogContainer:hover {
    background-color: #00ffff;
} */

.adoptBuyCatalogContainer a {
    text-decoration: none;
    color: #000000;
}

.adoptBuyCatalogContainer a:hover {
    text-decoration: none;
    color: #000000;
}



.imageWrapperDogMain {
    width: 100px;
    margin: 10px auto;
}

.imageWrapperDogMain img {
    border-radius: 50%;
    width: 100%;
}