@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.homeContent {
    position: relative;
}

.homeText {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    color: #ffffff;
    z-index: 1;
}

.homeContent h1 {
    font-family: 'Dancing Script', cursive;
    position: relative;
    font-weight: 700;
    font-size: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    animation: title;
    animation-duration: 2s;
}

@keyframes title {
    from {
        left: -50%;
    }

    to {
        left: 0;
    }
}


.homeCategoriesContainer {
    display: flex;
}

.homeArticle {
    padding: 30px;
    flex: 1;
    text-decoration: none;
    color: #000000;
}

.homeArticle:hover {
    cursor: pointer;
    background: rgba(253, 228, 140, 0.44);
    color: #000000;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(10.9px);
}

.homeAdoptContainer {
    background-color: #fffb00;
}

.homeBuyContainer {
    background-color: #00ffff;
}

.homeCreateContainer {
    background-color: #ff0084;
}

/* RESPONSIVE */

@media screen and (max-width: 375px) {
    .homeCategoriesContainer {
        flex-direction: column;
    }

    .homeText {
        top: 15%;
    }

    .homeText h1 {
        font-size: 51px;
    }
}