.createEditContainer {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 0 auto;
}

.createEditContent {
    border: none;
    border-top: 2px solid #5ecf7a;
    background-color: #ffffffa6;
    padding: 50px;
    margin: 0 auto;
}

.createEditContent div {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.createEditForm {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.createEditForm input {
    border: none;
    padding: 10px;
    background-color: #7a7a7a1c;
    width: 100%;
    outline: none;
}

.createEditForm div :nth-child(1):not(.submit-btn) {
    padding: 14px;
    background-color: #0000001c;
}

.createEditForm div .submit-btn {
    padding: 13px;
    background-color: #5ecf7a;
    width: 100%;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.editImageWrapper {
    width: 200px;
}

.editImageWrapper img {
    width: 100%;
}

/* RESPONSIVE */

@media screen and (max-width: 375px) {
    .createEditContainer {
        width: 100%;
        padding: 20px;
    }

    .createEditContent {
        padding: 30px;
    }
}