.create-edit-container {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 0 auto;

}

.create-edit-content {
    border: none;
    border-top: 2px solid #5ecf7a;
    background-color: #ffffffa6;
    padding: 50px;
    margin: 0 auto;
}

.create-edit-content div {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.create-edit-form {
    display: flex;
    flex-direction: column;
}

.create-edit-form input {
    border: none;
    padding: 10px;
    background-color: #7a7a7a1c;
    width: 100%;
    outline: none;
}

.create-edit-form div :nth-child(1):not(.submit-btn) {
    padding: 14px;
    background-color: #0000001c;
}

.create-edit-form div .submit-btn {
    padding: 13px;
    background-color: #5ecf7a;
    width: 100%;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.edit-image-wrapper {
    width: 200px;
}

.edit-image-wrapper img {
    width: 100%;
}