.profile-container {
    display: flex;
    justify-content: center;
    border: 1px solid;
    padding: 50px;
}

.image-wrapper-profile {
    width: 200px;
    margin: 10px;
}

.image-wrapper-profile img {
    width: 100%;
    border-radius: 50%;
}

.profile-text {
    margin-left: 20px;
    text-align: left;
}