.profileContainer {
    display: flex;
    justify-content: center;
    padding: 50px;
    /* background-image: url('../../../assets/images/profileBackground1.jpg'); */
    height: 80vh;
}

.profileMainContent {
    display: flex;
    border: 1px solid;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.512);
    padding: 40px;
    border: 5px solid white;
}

.profileContent {
    background-color: #9bee9a78;
}

.imageWrapperProfile {
    width: 500px;
    margin: 10px;
    border: 5px solid white;

}

.imageWrapperProfile img {
    width: 100%;
}

.profileText {
    padding: 50px;
    margin-left: 40px;
    background-color: #ceffcaa7;
    width: fit-content;
    margin: auto;
    text-align: left;
}

.profileText div {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.profileText div input {
    border: none;
    outline: none;
    display: inline;
    margin-left: 10px;
    padding: 5px;
    background-color: #ffffffb1;
    width: 100%;
}

h2 {
    margin-bottom: 40px;
}

.myDogsLinkContainer:hover a {
    color: red;
    font-weight: bold;
}

.myDogsEditProfileContainer:hover {
    background-color: aqua;
    font-weight: bold;
}

/* RESPONSIVE */

@media screen and (max-width: 375px) {
    .profileContainer {
        height: auto;
        padding: 20px;
    }

    .profileMainContent {
        display: block;
        padding: 30px;
    }

    .imageWrapperProfile {
        width: auto;
        margin-bottom: 10px;
    }

    .profileText {
        padding: 40px 30px;
        text-align: center;
    }

}