.profileContainer {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.imageWrapperProfile {
    width: 200px;
    margin: 10px;
}

.imageWrapperProfile img {
    width: 100%;
    border-radius: 50%;
}

.profileText {
    margin-left: 20px;
    text-align: left;
}