header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5f5dc;
    /* сянката не се ъплайва на хедъра */
    box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.52);
}

header a.active {
    font-weight: bold;
    color: #56a05b;
}

.navigation-list, .user-navigation-list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
}

.nav {
    display: flex;
    align-items: center;
}

.dropbtn, .navigation-list a, .user-navigation-list a {
    background-color: transparent;
    color: #000000;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-decoration: none;
}

.dropbtn {
    padding: 0;
}

.dropbtn:hover, .navigation-list a:hover, .user-navigation-list a:hover {
    color: #56a05b;
}

.dropdown-container {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-container a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-container a:hover {
    background-color: #bbbbbb;
}

.dropdown:hover .dropdown-container {
    display: block;
}