header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5f5dc;
    /* сянката не се ъплайва на хедъра */
    box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.52);
}

header a.active {
    font-weight: bold;
    color: #56a05b;
}

.navigationList, .userNavigationList {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
}

.nav {
    display: flex;
    align-items: center;
}

.dropbtn, .navigationList a, .userNavigationList a {
    background-color: transparent;
    color: #000000;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-decoration: none;
}

.dropbtn {
    padding: 0;
}

.dropbtn:hover, .navigationList a:hover, .userNavigationList a:hover {
    color: #56a05b;
}

.dropdownContainer {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownContainer a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdownContainer a:hover {
    background-color: #bbbbbb;
}

.dropdown:hover .dropdownContainer {
    display: block;
}

.mobileMenuBtn {
    display: none;
}

/* RESPONSIVE */

@media screen and (max-width: 375px) {
    header, .navigationList, .userNavigationList, footer {
        flex-direction: column;
        padding: 7px;
    }

    .mobileMenuBtn {
        display: block;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
    }

    .nav ul a {
        padding: 5px;
    }

    .imageWrapperLogo {
        display: flex;
        flex-direction: column;
    }

    /* .navBar {
        position: relative;
    }

    .mobileMenuBtn {
        position: fixed;
        left: 40px;
        top: 40px;
        z-index: 10;
        cursor: pointer;
    }

    .navigationContent {
        overflow-y: scroll;
        list-style: none;
        position: fixed;
        top: 0;
        background: darkcyan;
        left: 0;
        bottom: 0;
        height: 100vh;
        width: 0;
        overflow: hidden;
        max-width: 290px;
        z-index: 9;
    }

    .navigationList.navShown {
        width: 100%;
    }

    a {
        display: block;
        padding: 10px 40px;
        text-decoration: none;
        color: #3fffd2;
        text-transform: uppercase;
        font-weight: bold;
    }

    .navigationList a:first-child {
        margin-top: 7rem;
    } */
}