.App {
  text-align: center;
}

main {
  background-color: aquamarine;
}

.btn-level-one {
  background-color: #5ecf7a;
  color: #000000;
  width: fit-content;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: none;
}

/* Button Level 1 */

.btn-level-one:hover {
  background-color: #69e232;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Button Level 2 */

.btn-level-two {
  background-color: #5ecf7a;
  color: #000000;
  width: fit-content;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  text-decoration: none;
  margin: 5px;

}

.btn-level-two:hover {
  background-color: #69e232;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Button Level 3 */

.btn-level-three {
  background-color: #cfa65e;
  color: #000000;
  width: fit-content;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  text-decoration: none;
  margin: 5px;
}

.btn-level-three:hover {
  background-color: #e27832;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* DELETE BTN */

.delete {
  background-color: #f86262;
}

.delete:hover {
  background-color: #ff1d1d;
}

/* PAGINATION */

.pagination {
  justify-content: center;
  margin: 10px;
}

.page-item .page-link {
  border-radius: 50%;
  background-color: #ffffffc2;
  color: #000000;
  margin: 3px;
}

.pagination .page-item.active .page-link {
  border-color: #d7c928;
  font-weight: bold;
  background: #f8f84d;
  color: #000000;

}